* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

/* Tic Tac Toe Iframe */
@media only screen and (min-width: 600px) {
  .tic_tac_toe_class {
    height: 400px;
  }
}

/* Navbar */
.remove-navbar {
  display: none !important;
}
